@model dpsn_gestao_documentos_nauticos.ViewModel.EditPasswordViewModel;
@{
	ViewData["Title"] = "Redefinir Senha";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Mensagem de erro na edição da senha*@
@if (TempData["MensagemErro"] != null)
{
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<i class="bi bi-exclamation-triangle-fill me-2"></i> @TempData["MensagemErro"]
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<h1>Redefinir Senha</h1>
<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="EditPassword">
	<input type="hidden" asp-for="Id" value="@Model.Id"/>
	<div class="form-group gap-3">
		<label asp-for="senhaAtual">Senha Atual</label>
		<input class="form-control" type="password" asp-for="senhaAtual" />

		<label  asp-for="novaSenha">Digite a nova senha</label>
		<input class="form-control" type="password" asp-for="novaSenha" />

		<label asp-for="novaSenhaConfirm">Confirme a nova senha</label>
		<input class="form-control" type="password" asp-for="novaSenhaConfirm" />

		<button type="submit" class="btn btn-primary">Enviar</button>
	</div>
</form>